{% extends './parts/layout.njk' %}
{% set sliders = [
  'base',
  'mouseDrag',
  'gutter', 
  'edgePadding', 
  'edgePaddingGutter', 
  'nonLoop', 
  'rewind', 
  'slideByPage', 
  'fixedWidth', 
  'fixedWidthGutter', 
  'fixedWidthEdgePadding', 
  'fixedWidthEdgePaddingGutter', 
  'responsive', 
  'arrowKeys', 
  'autoplay', 
  'vertical', 
  'verticalGutter', 
  'verticalEdgepadding', 
  'verticalEdgepaddingGutter', 
  'animation', 
  'lazyload', 
  'customize', 
  'autoHeight'
] %}

{% block main %}
  {% for slide in sliders %}
  <div class="{{ slide }}_wrapper">
    <h2>{{ slide | title }}</h2>

    {# slider body #}
    <div class="{{ slide }}" id="{{ slide }}">
      {% if slide === 'lazyload' %}
        <div>
          <div><img class="tns-lazy-img" src="data:image/gif;base64,R0lGODlhAQABAPAAAMzMzAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="images/1.jpg" alt="" width="300" height="300"></div>
          <p>Lorem ipsum dolor sit amet,</p>
        </div>
        <div>
          <div><img class="tns-lazy-img" src="data:image/gif;base64,R0lGODlhAQABAPAAAMzMzAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="images/3.jpg" alt="" width="300" height="300"></div>
          <p>At possimus dolorum eligendi repellat</p>
        </div>
        <div>
          <div><img class="tns-lazy-img" src="data:image/gif;base64,R0lGODlhAQABAPAAAMzMzAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="images/4.jpg" alt="" width="300" height="300"></div>
          <p>Cumque facilis amet eos nulla</p>
        </div>
        <div>
          <div><img class="tns-lazy-img" src="data:image/gif;base64,R0lGODlhAQABAPAAAMzMzAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="images/5.jpg" alt="" width="300" height="300"></div>
          <p>Sint ad, praesentium est delectus</p>
        </div>
        <div>
          <div><img class="tns-lazy-img" src="data:image/gif;base64,R0lGODlhAQABAPAAAMzMzAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="images/8.jpg" alt="" width="300" height="300"></div>
          <p>Laborum officiis, magnam, eos possimus</p>
        </div>

      {% elif slide === 'customize' %}
        <div>
          <div><img src="images/4.jpg" alt="" width="300" height="300"></div>
          <p>Lorem ipsum dolor sit amet,</p>
        </div>
        <div>
          <div><img src="images/5.jpg" alt="" width="300" height="300"></div>
          <p>At possimus dolorum eligendi repellat</p>
        </div>
        <div>
          <div><img src="images/6.jpg" alt="" width="300" height="300"></div>
          <p>Cumque facilis amet eos nulla</p>
        </div>
        <div>
          <div><img src="images/7.jpg" alt="" width="300" height="300"></div>
          <p>Sint ad, praesentium est delectus</p>
        </div>
        <div>
          <div><img src="images/8.jpg" alt="" width="300" height="300"></div>
          <p>Laborum officiis, magnam, eos possimus</p>
        </div>

      {% elif slide === 'autoHeight' %}
        <div>
          <img src="http://www.trbimg.com/img-57e03d90/turbine/la-1474313761-snap-photo/900/900x400" alt="">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div>
          <img src="http://www.trbimg.com/img-579b906c/turbine/la-fo-gold-cannibal-20160718-snap/900/900x500" alt="">
          <p>Blanditiis sapiente tempora </p>
        </div>
        <div>
          <img src="http://www.trbimg.com/img-57a4c798/turbine/la-fo-gold-daw-yee-myanmar-silver-lake-20160728-snap/900/900x450" alt="">
          <p>At possimus dolorum eligendi repellat</p>
        </div>
        <div>
          <img src="http://www.trbimg.com/img-57c9f699/turbine/la-fo-orange-county-food-halls-20160814-snap/900/900x540" alt="">
          <p>Neque accusamus inventore rerum</p>
        </div>
        <div>
          <img src="http://www.trbimg.com/img-57c4c52c/turbine/la-1472513416-snap-photo/900/900x500" alt="">
          <p>Quis deserunt quo sequi qui fugiat nobis </p>
        </div>
        
      {% else %}
        <div class="item">
          <div class="img img-1"><a href="">1</a></div>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="item">
          <div class="img img-2"><a href="">2</a></div>
          <p>Blanditiis sapiente tempora </p>
        </div>
        <div class="item">
          <div class="img img-3"><a href="">3</a></div>
          <p>At possimus dolorum eligendi repellat</p>
        </div>
        <div class="item">
          <div class="img img-4"><a href="">4</a></div>
          <p>Cumque facilis amet eos nulla</p>
        </div>
        <div class="item">
          <div class="img img-5"><a href="">5</a></div>
          <p>Sint ad, praesentium est delectus</p>
        </div>
      {% endif %}
    </div>
    
    {# customize tools #}
    {% if slide === 'customize' %}
      <div class="customize-tools">
        <ul class="thumbnails">
          <li><img src="images/sm/4.jpg" alt=""></li>
          <li><img src="images/sm/5.jpg" alt=""></li>
          <li><img src="images/sm/6.jpg" alt=""></li>
          <li><img src="images/sm/7.jpg" alt=""></li>
          <li><img src="images/sm/8.jpg" alt=""></li>
        </ul>
        <ul class="controls">
          <li class="prev"><img src="images/angle-left.png" alt=""></li>
          <li class="next"><img src="images/angle-right.png" alt=""></li>
        </ul>
        <div class="playbutton-wrapper"><button>Pause</button></div>
      </div>
    {% endif %}
  </div>
  {% endfor %}

{% endblock %}