// tiny
.tiny {
  &-slider { overflow: hidden; }
  &-animate { transition: left 0.3s; }
  &-container {
    position: relative;
    left: 0;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    > .item {
      float: left;
      box-sizing: border-box;
    }
  }
  &-prev, &-next, &-dot {
    cursor: pointer;
  }
}